#img-bg{
  background-image: url(../../assets/img/irelia.jpeg);

  min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-ireliayellow{
  background-color: #B87639;
}
